@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231 15% 18%; /* #282a36 */
    --foreground: 60 30% 96%; /* #f8f8f2 */

    --card: 231 15% 18%; /* #282a36 */
    --card-foreground: 60 30% 96%; /* #f8f8f2 */

    --popover: 231 15% 18%; /* #282a36 */
    --popover-foreground: 60 30% 96%; /* #f8f8f2 */

    --primary: 265 89% 78%; /* #bd93f9 */
    --primary-foreground: 231 15% 18%; /* #282a36 */

    --secondary: 225 27% 51%; /* #6272a4 */
    --secondary-foreground: 60 30% 96%; /* #f8f8f2 */

    --muted: 225 27% 51%; /* #6272a4 */
    --muted-foreground: 60 30% 96%; /* #f8f8f2 */

    --accent: 265 89% 78%; /* #bd93f9 */
    --accent-foreground: 231 15% 18%; /* #282a36 */

    --destructive: 0 100% 67%; /* #ff5555 */
    --destructive-foreground: 231 15% 18%; /* #282a36 */

    --border: 60 30% 96%; /* #f8f8f2 */
    --input: 60 30% 96% /* #f8f8f2 */
    --ring: 60 30% 96%; /* #f8f8f2 */

    --radius: 0.5rem;
  }

  .dark {
    --background: 231 15% 18%; /* #282a36 */
    --foreground: 60 30% 96%; /* #f8f8f2 */

    --card: 231 15% 18%; /* #282a36 */
    --card-foreground: 60 30% 96%; /* #f8f8f2 */

    --popover: 231 15% 18%; /* #282a36 */
    --popover-foreground: 60 30% 96%; /* #f8f8f2 */

    --primary: 265 89% 78%; /* #bd93f9 */
    --primary-foreground: 231 15% 18%; /* #282a36 */

    --secondary: 225 27% 51%; /* #6272a4 */
    --secondary-foreground: 60 30% 96%; /* #f8f8f2 */

    --muted: 225 27% 51%; /* #6272a4 */
    --muted-foreground: 60 30% 96%; /* #f8f8f2 */

    --accent: 265 89% 78%; /* #bd93f9 */
    --accent-foreground: 231 15% 18%; /* #282a36 */

    --destructive: 0 100% 67%; /* #ff5555 */
    --destructive-foreground: 231 15% 18%; /* #282a36 */

    --border: 60 30% 96%; /* #f8f8f2 */
    --input: 60 30% 96% /* #f8f8f2 */
    --ring: 60 30% 96%; /* #f8f8f2 */
  }
}

@layer base {
  * {
    @apply border-border text-popover-foreground;
  }
  body {
    @apply bg-background text-popover-foreground;
  }
}
